#nav-btn-cart {
  position: relative;
}

#accueil {
  background: url("../assets/BouleNoel.jpg") center/cover;
  height: 100vh;
  position: relative;
}

#type-writer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

#numberItems {
  color: white;
  background-color: rgb(188, 15, 15);
  text-align: center;
  align-content: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  visibility: hidden;
}

#view-cart {
  background-color: white;
  width: 500px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 100vw;
  transition: 1s;
}

#view-cart-exit {
  cursor: pointer;
}

.card:hover {
  background-color: bisque;
}
